@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url("./reset.css");
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 3rem;
    font-family: "Teko", sans-serif;
    background-color: lightgoldenrodyellow;
    color: tomato;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}
h3 {
    color: color-mix(in oklab, tomato 80%, black 20%);
    font-size: 1.75rem;
}

header h1 {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

section h2 + p {
    margin-bottom: 2rem;
}
.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 1rem;
}
.liste-albums {
    display: flex;
    justify-content: space-between;
}
.album {
    flex-basis: 30%;
    aspect-ratio: 1/1;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.album:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
    border-radius: 15px;
}

.album img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
