@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Teko", sans-serif;
    color: tomato;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
}
p {
    font-size: 1rem;
    line-height: 1.5;
}

a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
    transition: all 350ms;
}
a:hover {
    color: rgb(188, 93, 93);
    text-decoration: underline;
}
a.actif {
    color: rgb(188, 93, 93);
    text-decoration: underline;
    font-weight: bold;
}

/* ENTETE */
header {
    padding: 2rem;
    background-color: rgba(232, 232, 232, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav {
    display: flex;
    gap: 3rem;
}

nav .logo {
    max-width: 100px;
    max-height: 100px;
}

nav .nav__liste {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav li a {
    font-size: 1.5rem;
}

main {
    flex: 1;
    padding: 2rem;
}

/* ======== */
.liste-albums {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    margin-top: 2rem;
}
.album {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: tomato;
    min-height: 50px;
    flex-basis: calc((100% / 3 - 1rem) + (1rem / 3));
    color: white;
    transition: all 250ms ease-in-out;
}

.album:hover {
    background-color: #f0f0f0;
    color: tomato;
    transform: scale(1.05);
    border-radius: 15px;
}

.album img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.section-header .filtres {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.section-header .filtres .filtre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: tomato;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: all 350ms;
}

.section-header .filtres .filtre:hover {
    background-color: color-mix(in oklab, tomato, black 10%);
    transform: scale(1.05);
    text-decoration: underline;
}

.carrousel-conteneur {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.carrousel-conteneur .img-conteneur {
    flex-basis: 40%;
    border-radius: 15px;
    transition: all 350ms;
    border: 2px solid tomato;
    min-height: 350px;
}

.carrousel-conteneur > .btn {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;
}

.carrousel-conteneur > .btn span {
    transition: all 350ms;
}
.carrousel-conteneur > .btn span:hover {
    color: color-mix(in oklab, tomato 60%, black 40%);
}
